body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  text-align: center;
}
#myCanvas {
  background: lightgray;
}

.speed-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  font-size: 2rem;
  top: 5px;
  left: 35%;
  transform: translate(-35%);
}
